.search-page {
  padding-top: 40px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__content {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 8px 10px;
      max-width: 300px;
      margin: 0 auto;
      border-radius: 8px;
    }
  }

  &__filleals {
    padding-top: 25px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.suggestions-input {
  height: 42px;
  padding: 0 10px;
  border: 1px solid #c6c6c6;
}
