@import "../../utils/variable.scss";

.header {
  background-color: $bg-default;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid $bg-border;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    user-select: none;
  }

  &__nav {
    margin-left: 36px;
    display: flex;
    align-items: center;
    gap: 32px;
    user-select: none;
    line-height: 58px;

    &-link {
      height: 60px;
      font-size: 16px;
      color: $typo-secondary;
    }
  }

  &__menu {
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: 28px;

    &-item {
      cursor: pointer;
    }
  }

  &__auth {
    display: flex;
    align-items: center;
    gap: 12px;

    &-logo {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &-name {
      font-size: 16px;
      line-height: 100%;
    }
  }
}

.active {
  color: $typo-primary;
  border-bottom: 2px solid $typo-link;
}
