@import "../../utils/variable.scss";

.progress-bar__background {
  width: 154px;
  height: 154px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-bar__foreground {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-out;
}

.progress-bar__label {
  color: $typo-primary;
  line-height: 150%;
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #333;
}

.progress-bar__subtitle {
  color: $typo-secondary;
  font-size: 14px;
  line-height: 150%;
}
