@import "../../utils/variable.scss";

.progress-bar {
  display: block;
  min-width: 160px;
}

.progress-bar-bg {
  fill: none;
  stroke: $bg-ghost;
}

.progress-bar-fg {
  fill: none;
  stroke: $bg-success;
  stroke-linecap: butt;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progress-bar-text {
  fill: $typo-primary;
}

.progress-bar-secondary-text {
  fill: $typo-secondary;
}
